version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: shopping-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: shopping_app
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./shopping_server
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./shopping_server/.env
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./shopping_app
    container_name: shopping-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:3000
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data: